# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class


# IntelliJ project files
*.iml
*.iws
*.ipr
.idea/


# eclipse project file
.settings/
.classpath
.project


# NetBeans specific
nbproject/
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Visual Studio Code
.vscode


# игнорируем папку битрикс
/bitrix
/robots.txt
/upload


# Open server
.osp/

# Ignore master key for decrypting credentials and more.
OldMovies/.DS_Store
